@model Otlob.Core.ViewModel.ChangePasswordVM
@section Profile {
    <partial name="_RegisterPagePartial"></partial>
}

<form class="changePass" asp-action="ChangePassword">
    <h2>Change Your Password</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <input asp-for="OldPassword" />
    </div>
    <div class="field">
        <input asp-for="NewPassword" />
    </div>
    <div class="field">
        <input asp-for="ConfirmNewPassword" />
    </div>

     <button type="submit">Update</button>
</form>
<div class="profile">
    <div class="info">
        <div class="home">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <span>></span>
            <a asp-action="Profile">Account</a>
            <span>></span>
            <span>Change Your Password</span>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
