@using Microsoft.AspNetCore.Identity
@using Otlob.Core.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
   if (UserManager.GetUserAsync(User).Result.ProfilePicture != null) 
   {
       <li class="nav-item">
                <img class="avatar rounded-circle" alt="Profile Picture" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" />
       </li>
   }
    <a class="btn" style="margin: auto 10px 0 0; color: #eee; background-color: #004739" asp-area="Customer" asp-controller="Account" asp-action="Profile">Welcome @User.Identity.Name</a>
    <a style="color: #eee; margin: auto 10px 0 auto;" class="nav-link" asp-area="Customer" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <a style="color: #eee; margin: auto 10px 0 auto" class="nav-link" asp-area="Customer" asp-controller="Account" asp-action="Register">Register</a>
    <a style="color: #eee; margin: auto 10px 0 0" class="nav-link" asp-area="Customer" asp-controller="Account" asp-action="Login">Login</a>
}
</ul>
